div.container
    div.row
        div.col-md-12
            h1 App showing multi layer design
            p.
                Angular app with an expressjs backend. The app communications with an express restful crud api.


