div.container
    div.row
        div.col-md-10

            h1.page-header Users

            table.table
                thead
                    tr
                        th Firstname
                        th Lastname
                        th Email
                        th Actions
                tbody
                    tr(ng-repeat="user in users")
                        td
                            {{user.firstname}}
                        td
                            {{user.lastname}}
                        td
                            {{user.email}}
                        td
                            div(dropdown, is-open='status.isopen').btn-group
                                button(type='button').btn.btn-primary.dropdown-toggle
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/users/{{user.userId}}') Edit
                                    li
                                        a(href='/users/delete/{{user.userId}}') Delete



