div.container
    div.row
        div.col-md-12
            h1 {{userDetail.firstname}} {{userDetail.lastname}}

            p.
                Are you sure you want to delete this users?

            button(ng-click='deleteUser()') Yes