div.container
    div(ng-controller='UsersListCtrl').row
        div.col-md-10

            h1.page-header Users

            div.row
                div.col-md-4
                    a(href='/userCreate').btn.btn-primary New User
            div.row
                div.col-md-10.col-md-offset-2
                    table.table
                        thead
                            tr
                                th Firstname
                                th Lastname
                                th Email
                                th Actions
                        tbody
                            tr(ng-repeat="user in users")
                                td
                                    {{user.firstname}}
                                td
                                    {{user.lastname}}
                                td
                                    {{user.email}}
                                td
                                    div(dropdown, is-open='status.isopen').btn-group
                                        button(type='button').btn.btn-primary.dropdown-toggle
                                            span.caret
                                        ul.dropdown-menu
                                            li
                                                a(href='/user/{{user.userId}}') Edit
                                            li
                                                a(href='/userDelete/{{user.userId}}') Delete



