div.container
    div.row
        div.col-md-12
            h1 {{userDetail.firstname}} {{userDetail.lastname}}

            p.
                Are you sure you want to delete this user?

            div.demo-button-group
                button(ng-click='deleteUser()').btn.btn-primary Yes
                button(ng-click='cancelDelete()').btn.btn-default Cancel