div.container-fluid
    div.row
        div.col-md-10
            ul.users
                li(ng-repeat="user in users")
                    a(href="#/users/{{user.userId}}")
                        {{user.firstname}} {{user.lastname}}

