div.container
    div.row
        div().col-md-12
            h2 New User
            div.row
                form(role='form').form-horizontal
                    div.form-group
                        label(for='inputUsername').col-sm-2.control-label Username
                        div.col-sm-10.col-md-4
                            input(ng-model='user.username', type='text', id='inputUsername', placeholder='Username').form-control
                    div.form-group
                        label(for='inputFirstname').col-sm-2.control-label Firstname
                        div.col-sm-10.col-md-4
                            input(ng-model='user.firstname', type='text', id='inputFirstname', placeholder='Firstname').form-control
                    div.form-group
                        label(for='inputLastname').col-sm-2.control-label Lastname
                        div.col-sm-10.col-md-4
                            input(ng-model='user.lastname', type='text', id='inputLastname', placeholder='Lastname').form-control
                    div.form-group
                        label(for='inputEmail').col-sm-2.control-label Email Address
                        div.col-sm-10.col-md-4
                            input(ng-model='user.email', type='email', id='inputEmail', placeholder='Email Address').form-control
                    div.form-group
                        div.col-sm-offset-2.col-sm-4
                            button(ng-click='createUser()').btn.btn-primary Save