doctype 5
html
  head(lang='en')
    meta(charset='utf8')
    title= title
    base(href='/')
    //link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    //script(src='/components/jquery/dist/jquery.min.js')


  body(ng-app='demoApp')
    block content
