.demo-header
{
	background-color: #fff;
	margin-bottom: -6px;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #999;
}

body
{
	background-color: #f8f8f8;
}

.content-container
{
	background-color: #fff;
	padding-top:10px;
	box-shadow: 0 2px 5px rgba(0,0,0,.26),
	-5px 2px 5px rgba(0,0,0,.26), 5px 2px 5px rgba(0,0,0,.26)

}

.navbar-demo
{
	background-color: #88C6C9;
	color: #fff;
	border-radius: 0px;
	margin-bottom: 0px;


}

.header-bottom-layer
{
	margin-bottom: 20px;
}

.navbar-demo ul
{
	margin-bottom: 10px;
	margin-top: 10px;
}

.nav > li > a:hover,
.nav > li > a:focus
{
	background-color: #fff;
}

.nav > li.active
{
	border-bottom: 2px solid #88C6C9;
	background-color: #fff;
}

.nav > li > a
{
	color: #999;
}

.navbar-nav
{
	margin-left: 30px;
}

.demo-button-group
{
	margin-bottom: 20px;
}

.demo-button-group button
{
	margin-right: 10px;
}


